<p>Now you're getting the idea!</p>
<button class="btn btn-default btn-primary" {{action "newDetail"}}>Add Content</button>
{{#each model.content as |detail|}}
  {{item}}
{{/each}}
{{outlet}}
<div class="ideaDescription">
  <div class="row">
  <div class="col-md-8 col-sm-8">
    <h1>{{model.title}}</h1>
  </div>
  <div class="col-md-4 col-sm-4">
    <h5>{{model.description}}</h5>
  </div>
</div>
</div>
